<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'src/images/logo-tsvs.png' %}" type="image/x-icon">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img alt="LOGO" src="{% static 'src/icons/logo.png' %}" width="30">
            </a>
        </div>
        <a href="{% url 'index' %}" class="btn btn-default navbar-btn btn-primary">ГЛАВНАЯ</a>
        <a href="{% url 'addnew' %}" class="btn btn-default navbar-btn btn-primary">Добавить</a>

        <div class="navbar-right p-2">
            <span class="btn btn-default navbar-btn btn-primary">{{ user.first_name }} {{ user.last_name }}</span>
            <a href="{% url 'sign_in' %}" class="btn btn-default navbar-btn btn-primary">ВЫХОД</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="{% static 'src/js/main.js' %}" defer></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</body>
</html>