{% extends "base.html" %}

{% block title %}Редактировать{% endblock title %}

{% block content %}
<div class="col-md-12">
    <form method="POST" class="post-form" action="{% url 'update' employee.id %}">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Изменить детали</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Id:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="id" id="id_id" required maxlength="255"
                           value="{{ employee.id }}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Название проекта:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="title" id="id_title" maxlength="255"
                           value="{{ employee.title }}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">URL проекта:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="url" id="id_url" maxlength="255"
                           value="{{ employee.url }}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">IP адрес:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="ip_address" id="id_ip_address" maxlength="255"
                           value="{{ employee.ip_address }}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Логин:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="login" id="id_login" maxlength="255"
                           value="{{ employee.login }}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Пароль:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="password" id="id_password" maxlength="255"
                           value="{{ employee.password }}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Примечание:</label>
                <div class="col-sm-4">
                    <textarea class="form-control" name="descriptions" id="id_descriptions" maxlength="255" rows="3">{{ employee.descriptions }}</textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success btn-lg">Изменить</button>
                </div>
            </div>

        </div>
    </form>
    {% endblock content %}
