*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    outline: none;
    text-decoration: none;
}
body{
    background-image: url(../images/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: 1260px;
    height: 600px;
    margin: 150px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pasford {
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff;
}
.input{
    margin: 20px;
    margin-left: 50px;
    padding: 20px;
}
.login {
    width: 300px;
    height: 30px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    font-size: 15px;
}
.parol {
    width: 300px;
    height: 30px;
    padding: 20px;
    border-radius: 20px;
    font-size: 15px;
}
.pasford__btn {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.pasford__btn:hover{
   background: skyblue;
}

.section__one img {
    width: 66px;
    height: 72px;
    margin-top: 25px;
}